hr{border: 1px solid darkslategray; }
input[type="radio"] {
  display: none;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 5px 2px 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 20%;
  border-radius: 20%;
    border:double #66CC33;
    border-width: 6px;
}
input[type="radio"]:disabled + label span {
    border:double rgba(255,0,0,0.5);
    border-width: 6px;
    
}

input[type="radio"] + label span {
  background-color: whitesmoke;
}
input[type="radio"] + label:hover span {
  background-color: #339933;
      border-radius: 20%;
    border:solid white;
    border-width: 3px;
    box-shadow:  0 0 0 4px #339933;
}
input[type="radio"]:disabled + label:hover span {
  background-color: rgba(255,0,0,0.5);
      border-radius: 20%;
    border:solid white;
    border-width: 3px;
    box-shadow:  0 0 0 4px rgba(255,0,0,0.5);
}
input[type="radio"]:checked + label span {
  background-color: #339933;
  width: 20px;
  height: 20px;
     border:solid white;
    border-width: 3px;
    box-shadow:  0 0 0 4px #339933;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.btn {
    margin-top: 10px;
}